<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, tr, td {
            border: 1px solid #163799;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1>Spielplan Übersicht</h1>
<p></p>

<label for="spielID">Spiel ID:</label>
<input type="number" id="spielID" name="quantity" min="1" max="100">
<label for="punkteTeam1">Punkte Team 1 eintragen:</label>
<input type="number" id="punkteTeam1" name="quantity" min="0" max="30">
<label for="punkteTeam2">Punkte Team 2 eintragen:</label>
<input type="number" id="punkteTeam2" name="quantity" min="0" max="30">
<button onclick="punkteEintragen()">Punkte bestätigen</button>
<p id="testTest">TestMethodsText</p>
<p></p>

<table style="text-align:center;" id="spielplanTabelle" border="1"></table>
<script id=httpSkript type="text/javascript">

    var HttpClient = function () {
        this.get = function (aUrl, aCallback) {
            var anHttpRequest = new XMLHttpRequest();
            anHttpRequest.onreadystatechange = function () {
                if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                    aCallback(anHttpRequest.responseText);
            }
            anHttpRequest.open("GET", aUrl, true);
            anHttpRequest.send(null);
        }
    }
    var theurl = 'http://localhost:8080/alleSpiele';
    var client = new HttpClient();
    client.get(theurl, function (response) {
        var listeVonSpielenJsonObjekte = JSON.parse(response);
        var table = ''; //document.getElementById("teamstable");
        var rows = listeVonSpielenJsonObjekte.length;
        table += '<tr>';
        table += '<td>' + 'SpielID' + '</td>';
        table += '<td>' + 'Spielmodus' + '</td>';
        table += '<td>' + 'Teamname1' + '</td>';
        table += '<td>' + 'Teamname2' + '</td>';
        table += '<td>' + 'Courtnummer' + '</td>';
        table += '<td>' + 'Spielstartzeit' + '</td>';
        table += '<td>' + 'Ergebnis' + '</td>';
        table += '</tr>';
        for (var i = 0; i < rows; i++) {
            table += '<tr>';
            table += '<td>' + listeVonSpielenJsonObjekte[i].id + '</td>';
            table += '<td>' + listeVonSpielenJsonObjekte[i].spielModus + '</td>';
            table += '<td>' + listeVonSpielenJsonObjekte[i].teamname1 + '</td>';
            table += '<td>' + listeVonSpielenJsonObjekte[i].teamname2 + '</td>';
            table += '<td>' + listeVonSpielenJsonObjekte[i].courtID + '</td>';
            table += '<td>' + listeVonSpielenJsonObjekte[i].spielzeit + '</td>';
            table += '<td>' + listeVonSpielenJsonObjekte[i].team1Punkte + " : " + listeVonSpielenJsonObjekte[i].team2Punkte + '</td>';
            table += '</tr>';
        }
        document.getElementById("spielplanTabelle").innerHTML = table;
        //document.write('<table border="1">' + table + '</table>');
    });

    //Punkte in Tabelle eintragen
    // var myHeaders = new Headers();
    // myHeaders.append("Content-Type", "application/json");
    //
    // var raw = JSON.stringify({"team1Punkte": punkte1, "team2Punkte": punkte2});
    //
    // var requestOptions = {
    //     method: 'PUT',
    //     headers: myHeaders,
    //     body: raw,
    //     redirect: 'follow'
    // };
    //
    // fetch("http://localhost:8080/spiel/" + spielID, requestOptions)
    //     .then(response => response.text())
    //     .then(result => console.log(result))
    //     .catch(error => console.log('error', error));

    function punkteEintragen() {
        var punkte1 = document.getElementById("punkteTeam1").value;
        var punkte2 = document.getElementById("punkteTeam2").value;
        var spielID = document.getElementById("spielID").value;
        var listeVonSpielenJsonObjekte = null;
        var spiel = null;
        var listeVonSpielkartenJsonObjekte = null;
        var spielkarteTeam1 = null;
        var spielkarteTeam2 = null;
        var spielkarteTeam1ID;
        var spielkarteTeam2ID;

        var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            var raw = JSON.stringify({"team1Punkte": punkte1, "team2Punkte": punkte2});

            var requestOptions = {
                method: 'PUT',
                headers: myHeaders,
                body: raw,
                redirect: 'follow'
            };

            fetch("http://localhost:8080/spiel/" + spielID, requestOptions)
                .then(response => response.text())
                .then(result => console.log(result))
                .catch(error => console.log('error', error));

        //Getting Spiele from Database
        var HttpClient = function () {
            this.get = function (aUrl, aCallback) {
                var anHttpRequest = new XMLHttpRequest();
                anHttpRequest.onreadystatechange = function () {
                    if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                        aCallback(anHttpRequest.responseText);
                }
                anHttpRequest.open("GET", aUrl, true);
                anHttpRequest.send(null);
            }
        }
        var theurl = 'http://localhost:8080/alleSpiele';
        var client = new HttpClient();
        client.get(theurl, function (response) {
            listeVonSpielenJsonObjekte = JSON.parse(response);
            //find Spiel
            for (var k = 0; k < listeVonSpielenJsonObjekte.length; k++) {
                if (listeVonSpielenJsonObjekte[k].id == spielID) {
                    spiel = listeVonSpielenJsonObjekte[k];
                    spielkarteTeam1ID = spiel.spielkarteTeam1Id;
                    spielkarteTeam2ID = spiel.spielkarteTeam2Id;
                }
            }
            //Getting Spielkarten from Database
            var HttpClient = function () {
                this.get = function (aUrl, aCallback) {
                    var anHttpRequest = new XMLHttpRequest();
                    anHttpRequest.onreadystatechange = function () {
                        if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                            aCallback(anHttpRequest.responseText);
                    }
                    anHttpRequest.open("GET", aUrl, true);
                    anHttpRequest.send(null);
                }
            }
            var theurl = 'http://localhost:8080/alleSpielkarten';
            var client = new HttpClient();
            client.get(theurl, function (response) {
                listeVonSpielkartenJsonObjekte = JSON.parse(response);
                //find Spiel
                for (var j = 0; j < listeVonSpielkartenJsonObjekte.length; j++) {
                    if (listeVonSpielkartenJsonObjekte[j].id == spielkarteTeam1ID) {
                        spielkarteTeam1 = listeVonSpielkartenJsonObjekte[j];
                    }
                    if (listeVonSpielkartenJsonObjekte[j].id == spielkarteTeam2ID) {
                        spielkarteTeam2 = listeVonSpielkartenJsonObjekte[j];
                    }
                }


                //Fetch Data of Spielkarte 1 to Database
                var siege1 = spielkarteTeam1.anzahlSiege;
                var diff1 = spielkarteTeam1.punkteDifferenz + (punkte1 - punkte2);
                if(diff1 > 0){
                    siege1++;
                    document.getElementById("testTest").innerHTML = "Herzlichen Glückwunsch!!! Das Team " + spiel.teamname1 + " hat gegen das Team " + spiel.teamname2 + " gewonnen!";

                }

                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");
                var raw = JSON.stringify({"anzahlSiege": siege1, "punkteDifferenz": diff1});

                var requestOptions = {
                    method: 'PUT',
                    headers: myHeaders,
                    body: raw,
                    redirect: 'follow'
                };

                fetch("http://localhost:8080/spielkarte/" + spielkarteTeam1ID, requestOptions)
                    .then(response => response.text())
                    .then(result => console.log(result))
                    .catch(error => console.log('error', error));

                //Fetch Data of Spielkarte 2 to Database
                var siege2 = spielkarteTeam2.anzahlSiege;
                var diff2 = spielkarteTeam2.punkteDifferenz + (punkte2 - punkte1);
                if(diff2 > 0){
                    siege2++;
                    document.getElementById("testTest").innerHTML = "Herzlichen Glückwunsch!!! Das Team " + spiel.teamname2 + " hat gegen das Team " + spiel.teamname1 + " gewonnen!";
                }
                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");
                var raw = JSON.stringify({"anzahlSiege": siege2, "punkteDifferenz": diff2});

                var requestOptions = {
                    method: 'PUT',
                    headers: myHeaders,
                    body: raw,
                    redirect: 'follow'
                };

                fetch("http://localhost:8080/spielkarte/" + spielkarteTeam2ID, requestOptions)
                    .then(response => response.text())
                    .then(result => console.log(result))
                    .catch(error => console.log('error', error));
            });
        });

        // var timer = 10000000000;
        // while(timer != 0){
        //     timer--;
        // }
        // document.location = "http://localhost:8080/spielPlan";
    }


    //
    // function punkteEintragenInTabelle() {
    //     var punkte1 = document.getElementById("punkteTeam1").value;
    //     var punkte2 = document.getElementById("punkteTeam2").value;
    //     var spielID = document.getElementById("spielID").value;
    //
    //     var myHeaders = new Headers();
    //     myHeaders.append("Content-Type", "application/json");
    //
    //     var raw = JSON.stringify({"team1Punkte": punkte1, "team2Punkte": punkte2});
    //
    //     var requestOptions = {
    //         method: 'PUT',
    //         headers: myHeaders,
    //         body: raw,
    //         redirect: 'follow'
    //     };
    //
    //     fetch("http://localhost:8080/spiel/" + spielID, requestOptions)
    //         .then(response => response.text())
    //         .then(result => console.log(result))
    //         .catch(error => console.log('error', error));
    //
    //     document.location = "http://localhost:8080/spielPlan";
    // }
</script>
</body>
</html>