<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams Übersicht</title>
    <style>
        table, tr, td {
            border: 1px solid #29a1d2;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1>Teams Übersicht</h1>
<p></p>
<table id="teamstable" border="1"></table>
<script id=httpSkript type="text/javascript">
    //function getHTTPClient2() {
        var HttpClient = function () {
            this.get = function (aUrl, aCallback) {
                var anHttpRequest = new XMLHttpRequest();
                anHttpRequest.onreadystatechange = function () {
                    if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                        aCallback(anHttpRequest.responseText);
                }
                anHttpRequest.open("GET", aUrl, true);
                anHttpRequest.send(null);
            }
        }
        var theurl = 'http://localhost:8080/alleteams';
        var client = new HttpClient();
        client.get(theurl, function (response) {
            var listeVonTeamJsonObjekte = JSON.parse(response);
            var table = ''; //document.getElementById("teamstable");
            var rows = listeVonTeamJsonObjekte.length;
            var columns = 5;
           table += '<tr>';
               table += '<td>' + 'TeamID' + '</td>';
               table += '<td>' + 'Teamname' + '</td>';
               table += '<td>' + 'Spieler1ID' + '</td>';
               table += '<td>' + 'Spieler2ID' + '</td>';
               table += '<td>' + 'ImSpiel' + '</td>';
        table += '</tr>';
            for(var i = 0; i < rows; i++){
                table += '<tr>';
                //for(var k = 1; k <= columns; k++){
                        table += '<td>' + listeVonTeamJsonObjekte[i].id + '</td>';
                        table += '<td>' + listeVonTeamJsonObjekte[i].teamname + '</td>';
                        table += '<td>' + listeVonTeamJsonObjekte[i].spieler1Id + '</td>';
                        table += '<td>' + listeVonTeamJsonObjekte[i].spieler2Id + '</td>';
                        table += '<td>' + listeVonTeamJsonObjekte[i].imSpiel + '</td>';
                //}
                table += '</tr>';
            }
            document.getElementById("teamstable").innerHTML = table;
            //document.write('<table border="1">' + table + '</table>');
        });
</script>
</body>
</html>