<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams Übersicht</title>
    <style>
        table, tr, td {
            border: 1px solid #29a1d2;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1>Teams Übersicht</h1>
<p></p>
<table style="text-align:center;" id="teamstable" border="1"></table>
<script id=httpSkript type="text/javascript">
    //function getHTTPClient2() {
    var HttpClient = function () {
        this.get = function (aUrl, aCallback) {
            var anHttpRequest = new XMLHttpRequest();
            anHttpRequest.onreadystatechange = function () {
                if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                    aCallback(anHttpRequest.responseText);
            }
            anHttpRequest.open("GET", aUrl, true);
            anHttpRequest.send(null);
        }
    }
    var theurl = 'http://localhost:8080/alleteams';
    var client = new HttpClient();
    client.get(theurl, function (response) {
        var listeVonTeamJsonObjekte = JSON.parse(response);
        var table = ''; //document.getElementById("teamstable");
        var rows = listeVonTeamJsonObjekte.length;
        table += '<tr>';
        table += '<td>' + 'Teamname' + '</td>';
        table += '<td>' + 'Name von Spieler 1' + '</td>';
        table += '<td>' + 'Name von Spieler 2' + '</td>';
        table += '<td>' + 'E-Mail-Adresse' + '</td>';
        table += '</tr>';
        for (var i = 0; i < rows; i++) {
            table += '<tr>';
            table += '<td>' + listeVonTeamJsonObjekte[i].teamname + '</td>';
            table += '<td>' + listeVonTeamJsonObjekte[i].spielerName1 + '</td>';
            table += '<td>' + listeVonTeamJsonObjekte[i].spielerName2 + '</td>';
            table += '<td>' + listeVonTeamJsonObjekte[i].eMailAdresse + '</td>';
            table += '</tr>';
        }
        document.getElementById("teamstable").innerHTML = table;
        //document.write('<table border="1">' + table + '</table>');
    });
</script>
</body>
</html>